<h1>Start scrolling down</h1>

<h4>Click the button on the bottom-right corner will take you back to the top</h4>

Code Example:
{{code-snippet name="scroll-to-top.hbs"}}

{{#scroll-top
  toggleWhenScroll=true
  effectToToggle='fade'
  onScroll=(action 'onScroll')
  onScrollToTop=(action 'onScrollToTop')
  animate='400' as |clickAction|}}
  <button type='button' onclick={{clickAction}}>Scroll to Top</button>
{{/scroll-top}}
