<h1>Scroll Down</h1>

{{#scroll-top
  toggleWhenScroll=true
  effectToToggle='fade'
  onScroll=(action 'onScroll')
  onScrollToTop=(action 'onScrollToTop')
  animate='400' as |clickAction|}}
  <button type='button' onclick={{clickAction}}>Scroll to Top</button>
{{/scroll-top}}
